<h1>All Contacts</h1>
<h2><%= link_to "Add A New Contact", "/contacts/new" %></h2><br />
<% @contact_list.each do |contact| %>
  <h3><%= link_to "#{contact.full_name}", "/contacts/#{contact.id}" %></h3>
  <p><%= contact.email %></p>
  <p><%= contact.phone_japan %></p>
  <p>Last Updated: <%= contact.friendly_updated_at %></p>
<% end %>
